<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Autoprocess replacment template - new customer</title>
    <link rel='icon' href='../favicon.ico' type='image/x-icon'/ >
    <!-- import scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../src/styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous" />
    <script src="../src/scripts/sdn.js"></script>
</head>

<body>
    <form id="sdn-details-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <h3 class="h3"><strong>Quote:</strong> Partial Quote</h3>
                    <small><strong>Number</strong>:14376675</small>
                </div>
                <div class="col-sm-6 text-right">
                    <h3 class="h3">
                        <strong>Dealer:</strong> Listers Test Dealer
                        <i class="fas fa-caret-down" style="font-size: 18px;"></i>
                    </h3>
                    <a href="#" data-toggle="tooltip" title="Click here for help with the system.">
                        <small>In need of some help? <i class="fas fa-question-circle"></i>
                        </small>
                    </a>
                </div>
                <!-- Input fields -->
                <div class="col-sm-12">
                    <div class="blank-space"></div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="contactdetails.html">Contact Details</a>
                                </li>
                                <li class="breadcrumb-item"><a href="vehicledetails.html"> Vehicle Details</a></li>
                                <li class="breadcrumb-item active">SDN Details</li>
                                <li class="breadcrumb-item"><a href="productsandservices.html"> Products and Services </a></li>
                                <li class="breadcrumb-item "><a href="summary.html"> Summary</a></li>
                            </ol>
                    </nav>
                </div>
                <div class="col-sm-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar progress-bar" role="progressbar" style="width: 60%;"
                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            60%
                        </div>
                    </div>
                    <div class="blank-space"></div>
                </div>
                <div class="col-sm-12 col-lg-7">
                    <fieldset id="gap-details">
                        <h5 class="h5">GAP Details</h5>
                        <hr class="style-two" />

                        <label>Is the purchased vehicle a commercial vehicle?</label>
                        <div class="btn-group btn-group-toggle" style="float:right" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off" />
                                Yes
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option3" autocomplete="off" checked />
                                No
                            </label>
                        </div>

                        <div class="blank-space"></div>

                        <label>
                            Do you intend to to use the vehicle for private hire?
                        </label>
                        <div class="btn-group btn-group-toggle" style="float:right" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off" />
                                Yes
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option3" autocomplete="off" checked />
                                No
                            </label>
                        </div>
                        <div class="blank-space"></div>
                        <label>
                            Do you intend to take out fully comprehensive insurance?
                        </label>
                        <div class="btn-group btn-group-toggle" style="float:right" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off" />
                                Yes
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option3" autocomplete="off" checked />
                                No
                            </label>
                        </div>
                        <div class="blank-space"></div>
                        <label>
                            Will you be authorised and fully insured to drive this vehicle?
                        </label>
                        <div class="btn-group btn-group-toggle" style="float:right" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off" />
                                Yes
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option3" autocomplete="off" checked />
                                No
                            </label>
                        </div>
                    </fieldset>
                    <div class="blank-space"></div>
                    <fieldset id="smart-details">
                        <h5 class="h5">SMART Details</h5>
                        <hr class="style-two" />
                        <label>
                            Do you intend to use the vehicle for anything other than social,
                            domestic and pleasure puroses including journeys to and from a
                            permanent place of work?
                        </label>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off" />
                                Yes
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option3" autocomplete="off" checked />
                                No
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="blank-space"></div>
            <hr class="style-two" />
            <div class="row">
                <div class="col-6">
                    <a href="vehicledetails.html" id="back-button" class="btn btn-secondary btn-lg">
                        Previous <i class="fas fa-angle-right" style="font-size:14px"></i>
                    </a>
                </div>
                <div class="col-6">
                    <button id="save-button" style="right:0px" type="button" class="btn btn-success btn-lg">
                        Save <i class="fas fa-angle-right" style="font-size:14px"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <!-- Footer -->

    <div class="blank-space"></div>
    <footer class="page-footer font-small blue fixed-bottom">
        <!-- Copyright -->
        <div class="footer-copyright text-center">
            <small>Copyright © Listers 2019. All rights reserved.</small>
        </div>
    </footer>
    <!-- Footer -->
</body>

</html>