<head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Autoprocess replacment template - new customer</title>
        <!-- import scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        
        <script src="../../src/scripts/passwordReset.js">
        </script>
        
           
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
        </script>    
        </script>
        <!-- CSS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
        
    </head>
    <!------ Include the above in your HEAD tag ---------->
    
    <body>
    <div id="login">
        <div class="text-center text-white pt-5">
                <a class="navbar-brand " href="../index.html">
                    <img src="https://listers.autoprotect.net/Themes/Listers/Images/logos/listers.jpg" width="" height="60" alt="LISTERS">                </a>
    
        </div>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Change Password</h3>
                            <br/>
                                <p>Please enter your current password and then enter your new password twice. Click submit to continue.</p>
                                <p>Your password must be between 8 and 120 characters long and contain at least:
                                        
                                    <ul>
                                      <li>1 uppercase letter (A-Z)</li>
                                      <li>1 lowercase letter (a-z)</li>
                                      <li>1 number (0-9)</li>
                                      <li>1 symbol (e.g. £!#$%^*@[])</li>
                                    </ul>
                                    </p>
                                    <div class="form-group">
                                <label for="current-password" class="text-info">Current Password</label><br>
                                <input type="text" name="Current Password" id="current-password" class="form-control">
                                
                                <label for="new-password" class="text-info">New Password</label><br>
                                <input type="text" name="New Password" id="new-password" class="form-control">
                                
                                <label for="confirm-password" class="text-info">Confirm New Password</label><br>
                                <input type="text" name="Confirm New Password" id="confirm-password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="button" id="submit-button" name="submit" class="btn btn-info btn-md" value="submit">
                                <a href="./login.html" type="button" class="btn btn-secondary btn-md float-right" value="Cancel">Cancel</a>
                            </div>  
                            <div id="reset-message">
                                <small class="text-danger" >Password reset email has been sent if the user was found</small>
                            </div>
                            <div id="error-message">
                                <small class="text-danger">Name / Email field is required.</small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    
    <style>
    body {
    margin: 0;
    padding: 0;
    /* background-color: #17a2b8; */
    height: 100vh;
    font-family: "Roboto", sans-serif;
    
    }
    #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 660px;
    border: 1px solid #9C9C9C;
    /* background-color: #EAEAEA; */
    }
    #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
    }
    #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
    }
    #login-box{
    background:#EBEBEA;
    }
    #reset-message, #error-message{
      display: none;
    }
    </style>
    